<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	

    <title>{{ page_title }} | {{ PROJECT_NAME }}</title>


	{% load static %}
	<link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'css/admin.css' %}" rel="stylesheet">

    <style>
        {% if user.profile.dark_mode %}
            {{ user.profile.theme.dark_css }}
        {% else %}
            {{ user.profile.theme.light_css }}
        {% endif %}
    </style>
	
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-custom-reverse sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'admin-dashboard-home' %}">
                <div class="sidebar-brand-icon">
					{% load static %}
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" />
                </div>
                <div class="sidebar-brand-text">Goblin<sup>Panel</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Dashboard -->
			{% url 'dashboard-home' as url %}
            <li class="nav-item {% if request.path == url %}active{% endif %}">
                <a class="nav-link" href="{{ url }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            {% if user.is_superuser %}
                {% url 'admin-dashboard-home' as url %}
                <li class="nav-item {% if request.path == url %}active{% endif %}">
                    <a class="nav-link" href="{{ url }}">
                        <i class="fas fa-fw fa-toolbox"></i>
                        <span>Admin Panel</span></a>
                </li>
            {% endif %}
			
			{% for menu in MENU %}
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    {{ menu.name }}
                </div>

                {% for item in menu.items %}
                    {% url item.link as url%}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" href="{{ url }}">
                            <i class="fa-solid fa-{{ item.icon }}"></i>
                            <span>{{ item.label }}</span>
                        </a>
                    </li>
                {% endfor %}

            {% endfor %}
			
			<!-- Divider -->
			<hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <i class="fa-solid fa-2x fa-hand-holding-dollar"></i>
                <p class="text-center mb-2"><br><strong>Donate</strong> to support this project and continue its development!</p>
                <a class="btn btn-info btn-sm" href="https://github.com/HavenRealms/goblin-panel">Donate</a>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-gradient-custom topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-100 small">{{ user.first_name}} {{ user.last_name }}{% if user.is_superuser %}<br>(Administrator){% endif %}</span>
                                <img class="img-profile rounded-circle" src="https://ui-avatars.com/api/?name={{ user.first_name }}+{{ user.last_name }}&background=22c1c3&color=ffffff&size=256">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'account-home' %}">
                                    <i class="fas fa-user-shield fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Manage Account
                                </a>
                                {% if user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'admin-dashboard-home' %}">
                                    <i class="fas fa-toolbox fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Admin Panel
                                </a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

					{% block page_content %}{% endblock %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class=" copyright text-center text-dark my-auto">
                        <span>Copyright &copy; {{ PROJECT_NAME }} 2024, All Rights Reserved.</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">If you're ready to logout of the administration panel please confirm by clicking the button below or alternatively cancel.</div>
                <div class="modal-footer">
					<form method="POST" action="{% url 'auth-logout' %}">
						{% csrf_token %}
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<button class="btn btn-primary" type="submit">Logout</a>
					</form>
                </div>
            </div>
        </div>
    </div>

	{% load static %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/admin.min.js' %}"></script>
	
	<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
	</script>
	
	{% block footer_scripts %}{% endblock %}

</body>

</html>