.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.site-header {
	border-radius: 15px;
	color: #fff;
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
	width: 80%;
}

.gradient-bg {
	color: #fff;
	background: rgb(255,108,171);
	background: linear-gradient(100deg, rgba(255,108,171,1) 0%, rgba(115,102,255,1) 100%);
	border-color: rgb(255,108,171);
	border-color: linear-gradient(100deg, rgba(255,108,171,1) 0%, rgba(115,102,255,1) 100%);
}