{% extends "serveradmin/base.html" %}
{% block page_content %}
<div class="row d-sm-flex align-items-center justify-content-between mb-4">
    <div class="col-md-5">
        <h1 class="h3 mb-0 text-dark"><i class="fas fa-{% if gem.json.icon %}{{ gem.json.icon }}{% else %}gem{% endif %}"></i> {{ gem.name }}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin-dashboard-home' %}">Admin Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'admin-hoardes' %}">Hoardes</a></li>
                <li class="breadcrumb-item"><a href="{% url 'admin-hoarde-detail' id=gem.hoarde.id %}">{{ gem.hoarde.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ gem.name }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-7">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="config-tab" data-toggle="tab" href="#config" role="tab" aria-controls="config" aria-selected="true">Configuration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="variables-tab" data-toggle="tab" href="#variables" role="tab" aria-controls="variables" aria-selected="false">Variables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="install-tab" data-toggle="tab" href="#install" role="tab" aria-controls="install" aria-selected="false">Install Script</a>
          </li>
        </ul>
    </div>
</div>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="config" role="tabpanel" aria-labelledby="config-tab">
        <div class="card text-dark">
            <div class="card-header bg-info">
                <h5 class="page-title text-white float-left">Gem File</h5>
                <button class="btn btn-danger btn-sm float-right" type="submit" name="update-gem">Update Gem</button>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile02">
                            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                        </div>
                    </div>
                    <small>If you would like to replace settings for this Gem by uploading a new JSON file, simply select it here and press "Update Gem". This will not change any existing startup strings or Docker images for existing servers.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="variables" role="tabpanel" aria-labelledby="variables-tab">...</div>
    <div class="tab-pane fade" id="install" role="tabpanel" aria-labelledby="install-tab">...</div>
</div>

{% endblock %}