{% extends "serveradmin/base.html" %}
{% block page_content %}
<div class="row">
    <div class="col-md-12">
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Warning: Hoardes are a powerful method of configuration and customization.</h5>
                <p class="card-text">Please note that while powerful, modifying a gem wrongly can very easily brick your servers and cause more problems. Please avoid editing our default gems — those preinstalled — unless you are absolutely sure of what you are doing.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}