{% extends "serveradmin/base.html" %}
{% block page_content %}
<!-- Page Heading -->
<div class="row d-sm-flex align-items-center justify-content-between">
	<div class="col-md-6">
		<h1 class="h3 mb-0 text-dark"><i class="fas fa-gem"></i> Create Hoarde</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'admin-dashboard-home' %}">Admin Dashboard</a></li>
				<li class="breadcrumb-item"><a href="{% url 'admin-hoardes' %}">Hoardes</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ hoarde.name }}</li>
			</ol>
		</nav>
	</div>
</div>
<form method="post" action="">
    <div class="card text-dark">
        <div class="row card-body">
            <div class="col-md-6">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" name="name" id="name" type="text" value="{{ hoarde.name }}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="5">{{ hoarde.description }}</textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id">Gem ID</label>
                    <input class="form-control" name="id" id="id" type="text" value="{{ hoarde.id }}" disabled="disabled">
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input class="form-control" name="author" id="author" type="email" value="{{ hoarde.author }}">
                </div>
                <div class="form-group">
                    <label for="uuid">UUID</label>
                    <input class="form-control" name="uuid" id="uuid" type="text" value="{{ hoarde.uuid }}" disabled="disabled">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-danger float-left" {% if not hoarde.builtin %}disabled="disabled"{% endif %}><i class="fas fa-trash"></i></button>
            <button type="submit" class="btn btn-info float-right">Save</button>
        </div>
    </div>
</form>
{% endblock %}