{% extends "serveradmin/base.html" %}
{% block page_content %}
<div class="row">
    <div class="col-md-12">
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Warning: Hoardes are a powerful method of configuration and customization.</h4>
            <p>Please note that while powerful, modifying a gem wrongly can very easily brick your servers and cause more problems. Please avoid editing our default gems — those preinstalled — unless you are absolutely sure of what you are doing.</p>
            <hr>
        </div>
    </div>
</div>
{% endblock %}