{% extends "serveradmin/base.html" %}
{% block page_content %}
<!-- Page Heading -->
<div class="row d-sm-flex align-items-center justify-content-between">
	<div class="col-md-6">
		<h1 class="h3 mb-0 text-dark"><i class="fas fa-server"></i> Locations</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				{% url 'admin-dashboard-home' as url %}
				<li class="breadcrumb-item"><a href="{{ url }}">Admin Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Locations</li>
			</ol>
		</nav>
	</div>
	<div class="col-md-6">
		<a href="#" class="float-end d-none d-sm-inline-block btn btn-sm btn-custom-primary shadow-sm" data-toggle="modal" data-target="#newLocationModal">Add Location <i class="fas fa-plus fa-sm text-white-50"></i></a>
	</div>
	<p class="mr-4 page-header">This allows you to organize and manage game servers across different geographical regions or data centers for optimized performance and low-latency connections.</p>
</div>
<table class="table table-striped table-light table-bordered table-hover">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Short Code</th>
			<th scope="col">Description</th>
			<th scope="col">Nodes</th>
			<th scope="col">Servers</th>
		</tr>
	</thead>
	<tbody>
		{% for location in locations %}
			<tr>
				<td><a href="{% url 'admin-location-detail' id=location.id %}">{{ location.short_code }}</a></td>
				<td>{{ location.description }}</td>
				<td><span class="badge badge-secondary">{{ location.nodes.all|length }}</span></td>
				<td><span class="badge badge-secondary">0</span></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<!-- Logout Modal-->
    <div class="modal fade" id="newLocationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
			<form method="post" action="{% url 'admin-location-create' %}">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Add New Location</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						
						<div class="form-group">
							<label for="locationShortCode">Short Code</label>
							<input type="text" class="form-control" id="locationShortCode" name="short_code" placeholder="Location Shortcode e.g. US">
						</div>
						 
						<div class="form-group">
							<label for="locationDescription">Description</label>
							<input type="text" class="form-control" id="locationDescription" name="description" placeholder="Location Description e.g. US Server #1">
						</div>
						 
					</div>
					<div class="modal-footer">
							<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
							<button class="btn btn-primary" type="submit">Add</a>
					</div>
				</div>
			</form>
        </div>
    </div>
{% endblock %}