{% extends "serveradmin/base.html" %}
{% block page_content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-dark"><i class="fas fa-earth-oceania"></i> ({{ location.short_code }}) {{ location.description }}</h1>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			{% url 'admin-dashboard-home' as url %}
			<li class="breadcrumb-item"><a href="{{ url }}">Admin Dashboard</a></li>
			{% url 'admin-locations' as url %}
			<li class="breadcrumb-item"><a href="{{ url }}">Locations</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ location.id }}</li>
		</ol>
	</nav>
</div>
<hr>
<div class="form-group">
    <label for="locationShortCode">Short Code</label>
    <input type="text" class="form-control" id="locationShortCode" placeholder="Location Shortcode e.g. US" value="{{ location.short_code }}" disabled="disabled">
</div>
<div class="form-group">
    <label for="locationDescription">Description</label>
    <input type="text" class="form-control" id="locationDescription" placeholder="Location Description e.g. US Server #1" value="{{ location.description }}" disabled="disabled">
</div>
<a class="btn btn-custom-primary float-end" href="{% url 'admin-location-edit' id=location.id %}"><i class="fas fa-pencil"></i></a>
{% endblock %}