<div class="row d-sm-flex align-items-center justify-content-between mb-4">
    <div class="col-md-6">
        <h1 class="h3 mb-0 text-dark"><i class="fas fa-city"></i> {{ node.name }}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin-dashboard-home' %}">Admin Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'admin-nodes' %}">Nodes</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ node.name }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-6">
        <ul class="nav nav-tabs">
            <li class="nav-item">
				{% url 'admin-node-detail' id=node.id as url %}
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Info</a>
            </li>
            <li class="nav-item">
				{% url 'admin-node-config' id=node.id as url %}
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Config</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Allocations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Servers</a>
            </li>
        </ul>
    </div>
</div>