<div class="row d-sm-flex align-items-center justify-content-between mb-4">
    <div class="col-md-5">
        <h1 class="h3 mb-0 text-dark"><i class="fas fa-city"></i> {{ node.name }}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin-dashboard-home' %}">Admin Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'admin-nodes' %}">Nodes</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ node.name }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-7">
        <ul class="nav nav-tabs">
            <li class="nav-item">
				{% url 'admin-node-detail' id=node.id as url %}
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}"><i class="fas fa-circle-info"></i> Info</a>
            </li>
            <li class="nav-item">
				{% url 'admin-node-config' id=node.id as url %}
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}"><i class="fas fa-file-export"></i> Config</a>
            </li>
            <li class="nav-item">
				{% url 'admin-node-settings' id=node.id as url %}
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}"><i class="fas fa-cog"></i> Settings</a>
            </li>
            <li class="nav-item">
				{% url 'admin-node-allocations' id=node.id as url %}
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}"><i class="fas fa-network-wired"></i> Allocations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"><i class="fas fa-server"></i> Servers</a>
            </li>
        </ul>
    </div>
</div>