{% extends "serveradmin/base.html" %}
{% block page_content %}
<!-- Page Heading -->
{% include "serveradmin/node-detail-header.html" %}
<div class="row card">
    <div class="card-body">
        <table class="table {% if user.profile.dark_mode %}table-dark{% else %}table-light{% endif %} table-sm table-borderless rounded-3 overflow-hidden">
            <tbody>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">Version</code></td>
                    <td><code class="badge bg-gray-200 text-dark" id="version"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">Docker Version</code></td>
                    <td><code class="badge bg-gray-200 text-dark" id="docker-version"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">Network Driver</code></td>
                    <td><code class="badge bg-gray-200 text-dark" id="docker-network"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">OS</code></td>
                    <td><code class="badge bg-gray-200 text-dark" id="os-info"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">Architecture</code></td>
                    <td><code class="badge bg-gray-200 text-dark" id="os-arch"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">Hostname</code></td>
                    <td><code class="badge bg-gray-200 text-dark" id="os-host"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">Status</code></td>
                    <td><code class="badge bg-gray-200 text-dark node-status" id="status-info"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">Swap Support</code></td>
                    <td><code class="badge bg-gray-200 text-dark node-status" id="swap-support"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">Total Containers</code></td>
                    <td><code class="badge bg-gray-200 text-dark node-status" id="containers-total"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">Unmanaged Containers</code></td>
                    <td><code class="badge bg-gray-200 text-dark node-status" id="containers-unmanaged"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">Paused Containers</code></td>
                    <td><code class="badge bg-gray-200 text-dark node-status" id="containers-paused"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">Running Containers</code></td>
                    <td><code class="badge bg-gray-200 text-dark node-status" id="containers-running"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
                <tr>
                    <td style="width: 35%;"><code class="text-dark">Stopped Containers</code></td>
                    <td><code class="badge bg-gray-200 text-dark node-status" id="containers-stopped"><i class="fas fa-spinner fa-pulse"></i></code></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const status = document.querySelector(`#status-info`);
    const osInfo = document.querySelector(`#os-info`);
	const osArch = document.querySelector(`#os-arch`);
	const osHost = document.querySelector(`#os-host`);
    const dockerVersion = document.querySelector(`#docker-version`);
    const dockerNetwork = document.querySelector(`#docker-network`);
    const version = document.querySelector(`#version`);
    const swap = document.querySelector(`#swap-support`);
    const containersTotal = document.querySelector(`#containers-total`);
    const containersUnmanaged = document.querySelector(`#containers-unmanaged`);
    const containersPaused = document.querySelector(`#containers-paused`);
    const containersRunning = document.querySelector(`#containers-running`);
    const containersStopped = document.querySelector(`#containers-stopped`);

    // Determine the protocol based on the SSL setting
    const protocol = '{{ node.ssl }}' === 'True' ? 'https' : 'http';

    fetch(`${protocol}://{{ node.fqdn }}/system-info`, {
        method: 'GET',
        headers: {
            'Authorization': `Bearer {{ node.daemon_token }}`
        }
    })
    .then(response => {
        // Log the response status and the JSON content
        response.json()
            .then(data => {
                status.classList.remove('text-dark');
                if (data.daemon.version.endsWith('DEV')) {
                    version.classList.add('text-warning');
                    version.textContent = data.daemon.version;
                    version.insertAdjacentHTML('afterend', ' <span class="badge bg-gray-200 text-danger">Warning: Development builds are not recommended for production use and have limited support.</span>');
                } else {
                    version.classList.add('text-success');
                    version.textContent = data.daemon.version;
                }
                dockerVersion.classList.remove('text-dark');
                version.classList.remove('text-dark');

                console.log('Response JSON from node:', '{{ node.fqdn }}', data);

                // Update the table with the response data
                osInfo.textContent = `${data.os.system} ${data.os.release} (${data.os.version})`; // Format as needed
				osArch.textContent = data.os.machine + " " + data.os.architecture;
				osHost.textContent = data.os.node;

                // Update status
                if (data.docker.INSTALLED) { // Assuming `installed` field indicates if Docker is installed
                    swap.classList.remove('text-dark');
                    if(data.docker.docker.SwapLimit) {
                        status.classList.add('text-success');
                        status.classList.remove('text-danger');
                        status.textContent = 'Online';
                        swap.classList.add('text-success');
                        swap.textContent = "Supported";
                    } else {
                        status.classList.add('text-success');
                        status.classList.remove('text-danger');
                        status.textContent = 'Online';
                        swap.classList.add('text-danger');
                        swap.textContent = "Not Supported";
                    }
                    dockerVersion.textContent = "Installed (Docker " + data.docker.docker.ServerVersion + ")";
                    dockerNetwork.textContent = data.docker.docker.Plugins.Network[0].toUpperCase();
                    dockerVersion.classList.add('text-success');

                    containersTotal.textContent = data.docker.docker.Containers;
                    containersUnmanaged.textContent = data.docker.docker.Containers - 0;
                    containersPaused.textContent = data.docker.docker.ContainersPaused;
                    containersRunning.textContent = data.docker.docker.ContainersRunning;
                    containersStopped.textContent = data.docker.docker.ContainersStopped;
                } else {
                    status.classList.add('text-warning');
                    status.classList.remove('text-danger');
                    status.textContent = 'Misconfigured';
                    dockerVersion.textContent = "Not Installed";
                    dockerNetwork.textContent = "Unknown";
                    dockerVersion.classList.add('text-danger');
                    dockerNetwork.classList.add('text-danger');
                }
            })
            .catch(err => {
                status.classList.remove('text-dark');
                osInfo.classList.remove('text-dark');
				osArch.classList.remove('text-dark');
				osHost.classList.remove('text-dark');
                dockerVersion.classList.remove('text-dark');
                dockerNetwork.classList.remove('text-dark');
                version.classList.add('text-danger');
                status.classList.add('text-danger');
                osInfo.classList.add('text-danger');
				osArch.classList.add('text-danger');
				osHost.classList.add('text-danger');
                dockerVersion.classList.add('text-danger');
                dockerNetwork.classList.add('text-danger');
                version.classList.remove('text-dark');
                console.error('Error connecting to node:', '{{ node.fqdn }}', err);
                // Update the table with error information
                status.classList.add('text-danger');
                status.classList.remove('text-success');
                status.textContent = 'Unauthorized: API Key Mismatch';
                version.textContent = "Unknown";
                osInfo.textContent = "Unknown";
				osArch.textContent = "Unknown";
				osHost.textContent = "Unknown";
                dockerVersion.textContent = "Unknown";
                dockerNetwork.textContent = "Unknown";
            });
    })
    .catch(error => {
                status.classList.remove('text-dark');
                osInfo.classList.remove('text-dark');
				osArch.classList.remove('text-dark');
				osHost.classList.remove('text-dark');
                dockerVersion.classList.remove('text-dark');
                version.classList.add('text-danger');
                status.classList.add('text-danger');
                osInfo.classList.add('text-danger');
				osArch.classList.add('text-danger');
				osHost.classList.add('text-danger');
                dockerVersion.classList.add('text-danger');
                version.classList.remove('text-dark');
                console.error('Error connecting to node:', '{{ node.fqdn }}', error);
                // Update the table with error information
                status.classList.add('text-danger');
                status.classList.remove('text-success');
                status.textContent = 'Unauthorized: API Key Mismatch';
                version.textContent = "Unknown";
                osInfo.textContent = "Unknown";
				osArch.textContent = "Unknown";
				osHost.textContent = "Unknown";
                dockerVersion.textContent = "Unknown";
    });
});
</script>
{% endblock %}
