{% extends "serveradmin/base.html" %}
{% block page_content %}
<!-- Page Heading -->
{% include "serveradmin/node-detail-header.html" %}
<form method="post" action="">
	{% csrf_token %}
	<table class="table table-light p-3">
		<thead class="thead-dark">
			<tr>
				<th style="width: 30.33%;">IP/Address</th>
				<th style="width: 30.33%;">Alias</th>
				<th style="width: 30.33%;">Port</th>
				<th style="width: 9.01%;"></th>
			</tr>
		</thead>
		<tbody>
			{% for allocation in allocations %}
				<tr>
					<td><input name="address-{{ node.id }}" class="form-control" value="{{ allocation.address }}" /></td>
					<td><input name="alias-{{ node.id }}" class="form-control" value="{{ allocation.alias }}" /></td>
					<td><input name="port-{{ node.id }}" class="form-control" value="{{ allocation.port }}" /></td>
					<td class="text-center"><button class="btn btn-danger btn-sm" name="delete-{{ allocation.id }}" type="submit"><i class="fas fa-trash-can"></i></button></td>
				</tr>
			{% endfor %}
			<tr>
				<td><input name="address-new" class="form-control" placeholder="IP or FQDN" /></td>
				<td><input name="alias-new" class="form-control" placeholder="Alias" /></td>
				<td><input name="port-new" class="form-control" placeholder="Port" /></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-custom-primary float-end align-bottom align-text-bottom" type="submit">Update</button>
</form>
{% endblock %}