{% extends "serveradmin/base.html" %}
{% block page_content %}
<!-- Page Heading -->
<div class="row d-sm-flex align-items-center justify-content-between">
	<div class="col-md-6">
		<h1 class="h3 mb-0 text-dark"><i class="fas fa-server"></i> Servers</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				{% url 'admin-dashboard-home' as url %}
				<li class="breadcrumb-item"><a href="{{ url }}">Admin Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Servers</li>
			</ol>
		</nav>
	</div>
	<div class="col-md-6">
		<a href="{% url 'admin-nodes-create' %}" class="float-end d-none d-sm-inline-block btn btn-sm btn-info shadow-sm m-3">Add Server <i class="fas fa-plus fa-sm text-white-50"></i></a>
	    <div class="input-group input-group-sm float-right m-3" style="width: 20rem;">
            <input type="text" class="form-control" placeholder="Search Servers..." aria-label="Search Servers..." aria-describedby="server-search">
            <div class="input-group-append">
                <button class="btn btn-info btn-sm" type="button"><i class="fas fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
	<p class="p-1 mr-4 page-header">All servers available on the system.</p>
</div>
<table class="table table-striped table-light table-bordered table-hover">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Server Name</th>
			<th scope="col">UUID</th>
			<th scope="col">Owner</th>
			<th scope="col">Node</th>
			<th scope="col"><i class="fas fa-heart-pulse d-block text-center align-text-top pb-1"></i></th>
			<th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for server in servers %}
            <tr>
                <td>{{ server.name }}</td>
                <td><span class="badge badge-info">{{ server.uuid }}</span></td>
                <td><a href="#">{{ server.owner.username }}</a></td>
                <td><a href="{% url 'admin-node-detail' id=server.node.id %}">{{ server.node.name }}</a></td>
                <td><span class="badge badge-info">{% if server.default_allocation.alias %}{{ server.default_allocation.alias }}{% else %}{{ server.default_allocation.address }}{% endif %}:{{ server.default_allocation.port }}</span></td>
                <td><span class="badge badge-danger">Offline</span></td>
                <td><span class="badge badge-secondary"><i class="fas fa-wrench fa-sm"></i></span></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}