{% extends "serveradmin/base.html" %}
{% block page_content %}
<!-- Page Heading -->
<div class="row d-sm-flex align-items-center justify-content-between">
	<div class="col-md-6">
		<h1 class="h3 mb-0 text-dark"><i class="fas fa-server"></i> Create Server</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'admin-dashboard-home' %}">Admin Dashboard</a></li>
				<li class="breadcrumb-item"><a href="{% url 'admin-servers' %}">Servers</a></li>
				<li class="breadcrumb-item active" aria-current="page">Create Server</li>
			</ol>
		</nav>
	</div>
    {% if success %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">New Hoarde Successfully Created.</h4>
        <p>Your new hoarde has been successfully created and can be viewed on the <a href="{% url 'admin-hoardes' %}">Hoardes Page</a>.</p>
    </div>
    {% elif error %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
</div>
<form method="post" action="">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="page-title text-white float-left">Server Information</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="server-name">Server Name</label>
                                <input class="form-control" id="server-name" name="server-name" placeholder="Server Name" />
                                <small>Character limits: <span class="badge badge-secondary">a-z A-Z 0-9 _ - .</span> and <span class="badge badge-secondary">[Space]</span>.</small>
                            </div>
                            <div class="form-group">
                                <label for="server-owner">Server Owner</label>
                                <select class="form-select" id="server-owner" name="server-owner">
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %} ({{ user.email }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="server-description">Server Description</label>
                                <textarea class="form-control" rows="3" id="server-description" name="server-description"></textarea>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="server-autostart" name="server-autostart">
                                <label class="form-check-label" for="server-autostart">Start Server Once Installed</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="page-title text-white float-left">Server Allocations</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="server-node">Node</label>
                                <select class="form-select" id="server-node" name="server-node">
                                    {% for location in locations %}
                                        <optgroup label="{{ location.short_code }}">
                                            {% for node in location.nodes.all %}
                                                {% if node.public %}<option value="{{ node.id }}">{{ node.name }}</option>{% endif %}
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="server-allocation">Server Allocation</label>
                                <select class="form-select" id="server-allocation" name="server-allocation">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="extra-allocations">Additional Allocations</label>
                                <input class="form-control" id="extra-allocations" name="extra-allocations" placeholder="Additional Allocations..."/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="page-title text-white float-left">Application Limits</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="database-limit">Database Limit</label>
                                <input class="form-control" name="database-limit" id="database-limit" value="0"/>
                                <small>The total number of databases a user is allowed to create for this server.</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">Backup Limit</div>
                            <input class="form-control" name="backup-limit" id="backup-limit" value="0"/>
                            <small>The total number of backups that can be created for this server.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}