{% extends "serveradmin/base.html" %}
{% block page_content %}
<!-- Page Heading -->
<div class="row d-sm-flex align-items-center justify-content-between">
	<div class="col-md-6">
		<h1 class="h3 mb-0 text-dark"><i class="fas fa-users"></i> Users</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				{% url 'admin-dashboard-home' as url %}
				<li class="breadcrumb-item"><a href="{{ url }}">Admin Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Users</li>
			</ol>
		</nav>
	</div>
	<div class="col-md-6">
		<a href="{% url 'admin-nodes-create' %}" class="float-end d-none d-sm-inline-block btn btn-sm btn-custom-primary shadow-sm m-3">Create User <i class="fas fa-user-plus fa-sm text-white-50"></i></a>
	    <div class="input-group input-group-sm float-right m-3" style="width: 20rem;">
            <input type="text" class="form-control" placeholder="Search Users..." aria-label="Search Users..." aria-describedby="user-search">
            <div class="input-group-append">
                <button class="btn btn-custom-primary btn-sm" type="button"><i class="fas fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
	<p class="p-1 mr-4 page-header">All registered users on the system.</p>
</div>
<table class="table table-striped {% if user.profile.dark_mode %}table-dark{% else %}table-light{% endif %} table-hover">
	<thead class="thead-dark">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Email</th>
			<th scope="col">Client Name</th>
			<th scope="col">Username</th>
			<th scope="col" class="text-center">2FA</th>
			<th scope="col">Servers Owned</th>
			<th scope="col"><i class="fas fa-user d-block text-center align-text-top pb-1"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td><span class="badge badge-info">{{ user.id }}</span></td>
                <td><a href="{% url 'admin-user-detail' id=user.id %}">{{ user.email }}</a></td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td class="text-center text-danger"><i class="fas fa-unlock"></i></td>
                <td><a href="#">{{ user.servers|length }}</a></td>
                <td class="text-center"><i class="fas fa-{% if user.is_superuser %}user-secret{% else %}user{% endif %}"></i></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}